OPENAI_API_KEY=your_openai_api_key_here
ASSEMBLYAI_API_KEY=7a0df19444394dbd8caa7bec85839e5e
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
PORT=3000
